
#consultarProyectos {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#consultarProyectos td, #Facultades th {
    border: 1px solid #ddd;
    padding: 8px;
}
#consultarProyectos tr 
{
    background-color: #d9edf7;
}
#consultarProyectos tr:nth-child(even){background-color: #f2f2f2;}

#consultarProyectos tr:hover {background-color: #ddd;}

#consultarProyectos th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1b6d85;
    color: white;
}

#banner
{
    height: 170px;
}
body {
    background-color: #3db2e1;
    width: 800px;
    text-align: center;
    margin-left: 120px;
    margin-bottom: 0px;
}
h1
{
    text-align: center;
    color: #fffff;
    font-size: 35px;
}
/* line 13, ../sass/style.scss */
/*footer {
    width: 100%;
    height: 100px;
    background-color:#333; 
    opacity: 0.4;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 10px;
    opacity: 0.4;

}*/
#btnIngresar
{
    border-color: #3db2e1;
    background-color: #269abc;
    height: 44px;
    width: 100%;
    transition: background-color 0.25s linear;
    color: white;
    
}
#btnIngresar:hover
{
    background-color: #5de3a0;
}
h3
{
    border: 0;
    margin: 0;
}
#tituloLogin
{
    background-color: #464D57;
    height: 90px;
    margin-top: 0;
    margin: 0;
    color: #ffffff;
    width: 100%;
    padding-top: 2px;
    margin-bottom: 0px;
    border: 0;
    border-radius: 5px;
}
#login
{
    background-color:#ffffff; 
    margin-top: 80px;
    border-radius: 20px;
    text-align: center;
    margin-bottom: 0;
    color: black;
   
}
#aviso
{
    color: #8A959E;
    text-align: left;
    font-family: fantasy;
    font-size: 22px;
    icon:initial;
}



